<div id="header">
  <div class="inner-content">
    

    <nav id="nav">
      <a {% if page.title == "Home" %}class="active"{% endif %} href="{{site.baseurl}}index.html">Home</a>
      <a {% if page.title == "Project" %}class="active"{% endif %} href="{{site.baseurl}}/project">Project</a>
      <a {% if page.title == "Blog" %}class="active"{% endif %} href="{{site.baseurl}}/elearning">E-Learning</a>
      <a {% if page.title == "Contact" %}class="active"{% endif %} href="{{site.baseurl}}/contact">Contact</a>
    </nav>

    <div id="social">
      <span>Follow us on:</span>
      <a class="github" href="#">Github</a>
      <a class="twitter" href="#">Twitter</a>
    </div>
  </div>
</div>

<!-- <header class="masthead">
    <h1>ESTHER-MAGNET</h1>
    {% include nav.html navclass='nav-top'%}
</header> -->